html{
    font-size: 10px;
    /* 62.5% = 10px, now : 1rem = 10px */
}
body{
    background-color: #0a192f;
    color: rgb(170, 169, 202);
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    margin:0;
    height: 100%;
}

.container{
    width: 90%;
}

.sideBar{
    display: flex;
    position: fixed;  
    width: 5%;
    margin-left: 3%;
    height : 100%;
}

.sideBar ul{
    position: absolute;
    bottom: 0;
    margin-bottom: 125%;
}

.sideBar li{
    color: white;
    list-style: none;
    margin-bottom: 250%;
}

.header{
    width: 100%;
}

.navbar ul{
    display: flex;
    list-style: none;
    padding : 0;
    justify-content: right;
    margin-top: 2.5%;
    margin-right: 2.5%;
}

.navbar li{
    margin-right: 2.5%;
    display: inline;
    padding: .8% .65% .8% .65%;
    border: 2px #64ffda solid;
    border-radius: 8px;
}

.navbar a{
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    color: #64ffda;
    font-size: 1.6rem;
    text-decoration: none;
}

a:hover{
    color: #ccd6f6;
}

.main-intro{
    position: relative;
    line-height: 1.6em;
    width: 80%;
    margin-left: 20%;
    margin-top: 12%;
}

.main-intro h1{
    color: #ccd6f6;
    font-size: 7rem;
    line-height: 90px;
    margin-top: 0;
    margin-bottom: 2%;
}

.main-intro p{
    margin-top: 0;
    margin-bottom: 0;
    width: 27%;
    margin-left: 0.1%;
}

#colorThisGrey{
    color: #8892b0;
}

#colorThisTurquoise{
    color:#64ffda;
}

.main-intro :nth-child(1){
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    color: #64ffda;
    font-size: 1.9rem;
    margin-left: 18px;
    font-weight: 400;
}

.main-intro :nth-child(3){
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;;
    font-weight: 500;
    line-height: 2.6rem;
    margin-left: 5px;
    font-size: 2rem;
    width: 43%;
    color:#8892b0;
}

.about-me{
    width: 100%;
    height: auto;
    margin-top: 22%;
    /*
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    */
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.heading{
    color: #ccd6f6;
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-size: 7rem;
    font-weight: 700;
    margin-bottom: 3%;
    margin-left: 20%;
}

.parentDiv{
    display : flex;
    width: 100%;
    height: auto;
    font-weight: 500;
    margin-top: 4%;
}

.child1{
    line-height: 1.3em;
    margin-right: 10%;
    margin-left: 20%;
    width: 33%;
}

#greyPara{
    color: #8892b0;
}

.child2{
    margin-top: 3%;
    position: relative;
    min-width: 273px;
    min-height: 275px;  
}

.square{
    position: absolute;
    bottom:39%;
    left:15.5%;
    height: 267px;
    width: 265px;
    border: 4px #64ffda solid;
    z-index: -1;
}

.child2 img{
    position: absolute;
    bottom:27%;
}

.child1 p:nth-child(2){
    margin-top: 40px;
}

.child1 ul{
    flex-wrap: wrap;
    display: flex;
    /*
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
    */
}
/*
.child1 ul li::marker{
    color: #64ffda;
    content: "▶ ";
}
*/
.child1 ul li{
    flex: 1 0 33%;
    list-style: none;
}

.child1 ul li::before{
    content: "";
    border-color: transparent #64ffda;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.05em;
    position: relative;
}

.hobbies{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 25%;
    /* width: 1300px; */
    /* margin: 0px 200px 400px 400px; */
    /* margin-inline: 300px 200px; */
}

.hobbiesImg{
    display: flex;
    position: relative;
    width:70%;
    height: auto;
}

.hobbiesP h1{
    margin-top: 0;
    color: #ccd6f6;
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-size: 7rem;
    font-weight: 700;
    line-height: 9rem;
}

.hobbiesP p{
    color: #8892b0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.6rem;
}

.hobbiesP{
    width: 30%;
    margin-inline: 5% 7.5%;
    margin-top: 0;
}  

.naruto{
    transform: translateX(90%);
    width: 100%;
    height: auto;
}

.momota{
    transform: translateX(45%) translateY(-10%);
    width: 100%;
    height: auto;
}

.keyboard{
    width: 100%;
    height: auto;
}

.naruto img{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    max-width: 100%;
    height: auto;
}

.momota img{
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    max-width: 100%;
    height: auto;
}

.keyboard img{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    max-width: 100%;
    height: auto;
} 

/* 
.momota{
    position: absolute;
    right: 1150px;
    bottom:-1375px;    
}

.keyboard{
    position: absolute;
    right: 940px;  
}

.naruto img{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.momota img{
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.keyboard img{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} */

.contact{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 26px;
    margin-top: 23%;
    margin-left: 15%;
}

.footer{
    display: flex;
    justify-content: center;

    color: #8892b0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 26px;

    margin-top: 4%;
    margin-bottom: 4%;
}

#scrollAbt{
    position: absolute;
    top: 160%;
}

#scrollContact{
    position: absolute;
    bottom: 100%;
}

@media(max-width:2000px){
    .px16{
        display: none;
    }
    .verticalFashion{
        display: none;
    }
    .myImage200{
        display: none;
    }
    .myImage150{
        display: none;
    }
}

@media(max-width:1463px){
    html{
        font-size: 60%;
    }
}

@media(max-width:1405px){
    html{
        font-size: 50%;
    }
}

@media(max-width:1171px){
    .hobbiesP h1{
        font-size: 6em;
    }
    #scrollAbt{
        top: 130%;
    }
}

@media(max-width:1003px){
    .hobbiesP h1{
        font-size: 5em;
    }
    .hobbiesP p{
        font-size: 2em;
        padding-bottom: 30%;
    }

    .sideBar{
        margin-left: 1%;
    }
}

@media(max-width:951px){
    .hobbies{
        display: flex;
        flex-direction: column-reverse;
    }
    .hobbiesP{
        height: 30vh;
        width: 55%;
        margin-left: 27%;
        margin-bottom: 0;
        line-height: 20rem;
    }
    .hobbiesImg{
        margin-left: 5%;
    }
    .verticalFashion{
        display: flex;
    }
    .horizontalFashion{
        display: none;
    }

    .parentDiv{
        display: flex;
        flex-direction: column;
    }
    .child1{
        width: 70%;
    }
    .child2{
        margin-top: 20%;
        margin-left: 30%;
        max-width: 273px;
        max-height: 275px;
    }
}

@media(max-width:767px){
    html{
        font-size: 40%;
    }
    .sideBar{
        width: 3%;
        margin-left: 0;
    }
    .px32{
        display: none;
    }
    .px16{
        display: flex;
    }
    .about-me{
        margin-top: 30%;
    }
    .child2{
        margin-top: 15%;
        margin-left: 33%;
    }
    .myImage275{
        display: none;
    }
    .myImage200{
        display: flex;
    }
    .square{
        height: 195px;
        width: 192px;
    }
    .hobbies{
        margin-top: 20%;
    }
}

@media(max-width:480px){
    html{
        font-size: 33%;
    }
    .main-intro{
        margin-left: 17%;
    }
    .main-intro h1{
        line-height: 1.4em;
    }
    .main-intro :nth-child(3){
        line-height: 1.7em;
    }
    .child1{
        line-height: 1.5em;
    }
    .child2{
        margin-top: 5%;
        margin-left: 30%;
    }
    .myImage200{
        display: none;
    }
    .myImage150{
        display: flex;
    }
    .square{
        height: 142px;
        width: 140px;
    }
    .hobbiesP{
        height: 20vh;
        margin-left: 28%;
    }
    .hobbiesP p{
        line-height: 1.7em;
    }
    .contact{
        margin-top: 28%;
    }
}

/*
.main-intro{
    width: 80%;
    

    **comment start
    margin-left: 100px;
    margin-top: 50px;
    margin-left: 200px;
    **comment end


    display: flex;
    flex-direction: column;
    margin-top: 185px;
    align-items: center;
}

.main-intro p{
    font-size: 6rem;
    line-height: 5px;
    width: 35%;

}

.main-intro :nth-child(1){
    font-size: 2rem;
}

.main-intro :nth-child(4){
    font-size: 2rem;
    line-height: 27px;

}
*/
